body{
	color: rgb(214, 178, 184);
	font-family:Amatic SC;
	padding-bottom:150px;
	background-color:rgb(44, 40, 50);

}

h1{
	font-size: 42px;
	text-align: center;
}


p{
	font-size: 18px;
	line-height: 1.3;
	text-align: center;
}

.text-norm{
	font-family:Amatic SC;
	color: rgb(214, 178, 184);
	text-align: center;
	font-size: 18px;

}

.main-text{
	font-size: 18px;
	line-height: 1.3;
	text-align: center;
}

ol{
	list-style-position: inside;
}

.hell-border{
	border-color: rgb(237, 112, 119);
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
}

.hell-border:hover{
	border-color: rgb(254, 203, 113);
}

.profile-img{
	text-align: center;
}

.picture-border{
	border-color: rgb(254, 203, 113);
	border-width: 1,5px;
	border-style: solid;
	border-radius: 10px;
}

	
img { 
	max-width: 30pc; 
	height: 30pc; 
}

.form{
	max-width:700px;
	margin: auto;
}

.name-writer, .email-writer{
	max-width:400px;
	text-align: center;
}

.name-writer{
	margin: 5px 5px 5px 100px;
	text-align: center;
}

.email-writer{
	margin: 5px 5px 5px 10px;
	text-align: center;
}

.text-area{
	max-width:700px;
	width:100%;
	box-sizing:border-box;
	padding:20px;
}

.list-themes{
	margin: 5px 5px 5px 35px;
}

.button_holder{
	/* text-align:right; */
	display:flex;
	justify-content:flex-end;
}

.button{
	margin: 5px 5px 5px 5px;
	font-size: 18px;
	border-radius: 20px;
	background-color: rgb(234, 146, 213);
	color: rgb(254, 203, 113);
}

.button:hover{
	background-color: rgb(254, 203, 113);
	color: rgb(234, 146, 213);
}

.checkbox{
	margin: 5px 5px 5px 5px;
}

label{
	display:block;
}

footer{
	position: fixed;
	left:0;
	right:0;
	bottom:0;
	background:rgb(254, 96,154);
	padding:30px 0;
}

.bottom{
	font-size: 22px;
	text-align:center;
	color: rgb(255, 255, 255);
}
